/* Orbitron Font Family */
@font-face
{
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/orbitron-regular.ttf') format('truetype');
}

@font-face
{
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/orbitron-500.ttf') format('truetype');
}

@font-face
{
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/orbitron-700.ttf') format('truetype');
}

*,
*::before,
*::after
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  background: #000;
  font-family: 'Orbitron', sans-serif;
}

canvas
{
  display: block;
}

.lil-gui.root
{
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
  top: auto !important;
}